<div ng-controller="AnnotationsController">
    <div flex layout-padding layout-wrap layout-fill>
        <md-card>
            <md-toolbar class="md-table-toolbar md-default" ng-hide="selected.length || filter.show">
                <div class="md-toolbar-tools">
                    <span>Annotations</span>
                    <div flex></div>
                    <md-button class="md-icon-button" ng-click="filter.show = true">
                        <md-icon>filter_list</md-icon>
                    </md-button>
                </div>
            </md-toolbar>

            <md-toolbar class="md-table-toolbar md-default" ng-show="filter.show && !selected.length">
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <form name="filterForm">
                        <md-input-container md-no-float md-icon-right style="margin-top:30px;">
                            <md-icon>search</md-icon>
                            <input type="text" ng-model="query.filter" placeholder="search">
                        </md-input-container>
                    </form>
                    <md-button class="md-icon-button" ng-click="removeFilter()">
                        <md-icon>close</md-icon>
                    </md-button>
                </div>
            </md-toolbar>
            <md-table-container>
                <table md-table ng-model="selected" md-progress="promise">
                    <thead md-head md-order="query.order">
                        <tr md-row>
                            <th md-column md-order-by="created_by"><span>Created By</span></th>
                            <th md-column md-numeric>Annotated/Unannotated</th>
                            <th md-column md-numeric>Tumor/Non-Tumor</th>
                            <th md-column md-numeric>Mitosis/Non-Mitosis/Apoptosis</th>
                            <th md-column md-numeric>Lumen/Non-Lumen</th>
                            <th md-column>Select Annotation</th>
                        </tr>
                    </thead>
                    <tbody md-body>
                        <tr md-row md-select="annotation" md-select-id="name" md-auto-select ng-repeat="annotation in $root.annotations | 
                        filter: query.filter | orderBy: query.order | limitTo: query.limit : (query.page-1) * query.limit">

                            <td ng-value="created_by" md-cell>{{annotation.users[0].user.slice(-1)[0].firstname + ' ' + annotation.users[0].user.slice(-1)[0].lastname}}</td>
                            <td md-cell>{{annotation.count['#ofa'] + ' / ' + annotation.count['#ofna']}}</td>
                            <td md-cell>{{annotation.count['tumor'] + ' / ' + annotation.count['non_tumor']}}</td>
                            <td md-cell>{{annotation.count['mitosis'] + ' / ' + annotation.count['non_mitosis'] + ' / ' + annotation.count['apoptosis']}}</td>
                            <td md-cell>{{annotation.count['lumen'] + ' / ' + annotation.count['non_lumen']}}</td>
                            <td md-cell>
                                <md-button ng-click="updateSelectedAnnotation(annotation)" class="md-raised md-primary">
                                    <md-icon>chevron_right</md-icon>
                                    <span>Select</span>
                                </md-button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </md-table-container>

            <md-table-pagination md-limit="query.limit" md-limit-options="[10, 25, 50]" md-page="query.page" md-total="{{annotations.length}}"
                md-page-select md-boundary-links></md-table-pagination>
        </md-card>
    </div>
</div>