<md-bottom-sheet style="position: fixed;">
    <div layout="row" layout-padding layout-wrap layout-fill>
        <md-card layout-align="start center">
            <div id="annotationChart"></div>
        </md-card>
        <md-card layout-align="start center">
            <div id="mitosisChart"></div>
        </md-card>
        <md-card layout-align="start center">
            <div id="tumorChart"></div>
        </md-card>
        <md-card layout-align="start center">
            <div id="lumenChart"></div>
        </md-card>
    </div>
</md-bottom-sheet>