<div ng-controller="ResetController" ng-init="showDialog('{{email}}')" style="visibility: hidden">
    <div class="md-dialog-container" id="myDialog">
        <md-dialog>
            <form name="resetForm" ng-submit="reset()">
                <md-toolbar class="md-toolbar-tools">
                    <h2>Reset Your Password</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="close()">
                        <md-icon aria-label="Close Dialog">close</md-icon>
                    </md-button>
                </md-toolbar>
                <md-dialog-content class="md-dialog-content">
                    <md-input-container class="md-block">
                        <label>Password:</label>
                        <input name="password" ng-model="user.password" type="password" ng-pattern="(user.email)" required>
                        <div ng-messages="resetForm.email2.$error" role="alert">
                            <div ng-message="required">Please enter your password.</div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block">
                        <label>Confirm Password:</label>
                        <input name="password2" ng-model="user.password2" type="password" ng-pattern="(user.password)">
                        <div ng-messages="resetForm.password2.$error" role="alert">
                            <div ng-message="pattern">Your password doesn't match.</div>
                        </div>
                    </md-input-container>
                </md-dialog-content>
                <md-dialog-actions layout="row">
                    <md-button class="md-raised" aria-label="Cancel" ng-click="close()">Cancel</md-button>
                    <md-button name="submit" ng-disabled="resetForm.$invalid" class="md-raised md-primary" type="submit" aria-label="Update Password">Update</md-button>
                </md-dialog-actions>
                </md-card>
            </form>
        </md-dialog>
    </div>
</div>